header img{
    width:6rem;
}
main img{
    width:30rem;
}
nav>a{
    color:#e6e8e6;
    padding:1rem;
    text-decoration:none;
}
header{
    background-color:#364958;
    padding: .5rem;
    display: flex;
    justify-content:space-between;
    align-items:flex-end;
}
body{
    background-color:#e6e8e6;
}
h2{
    color:#037171;
    font-size:30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    color:#364958;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media (min-width:1000px){
    nav>a{
        padding:2rem;
        font-size:18px;
    }
    header img{
        width:10rem;
    }
    main>img{
        max-width:100%;
        display:block;
        margin-left:auto;
        margin-right:auto;
        width:80%;
        margin-bottom:3rem;
    }
    .about{
        display:grid;
        gap:3rem;
        grid-template-columns: 1fr 1fr;
        margin-top:3rem;
    }
    .about img{
        grid-row: 1/3;
        grid-column:2/3;
        width:135%;
    }
    main{
        max-width:60rem;
        margin:auto;
    }
    p{
        font-size:20px;
    }
    h2{
        font-size:40px;
    }
}
